@tailwind base;
@tailwind components;
@tailwind utilities;

.workspace-grid-background {
  background-color: #1e1f22;
  background-image:
    linear-gradient(#2a2c30 1px, transparent 1px),
    linear-gradient(to right, #2a2c30 1px, transparent 1px),

    linear-gradient(#3a3d42 1px, transparent 1px),
    linear-gradient(to right, #3a3d42 1px, transparent 1px);

  background-size:
    20px 20px,
    20px 20px,
    100px 100px,
    100px 100px;
}

body {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}
